  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0, 6%, 98%;
      --foreground: 224, 71.4%, 4.1%;

      --card: 0, 0%, 100%;
      --card-foreground: 224, 71.4%, 4.1%;

      --popover: 0, 0%, 100%;
      --popover-foreground: 224, 71.4%, 4.1%;

      --primary: 201, 100%, 35%;
      --primary-foreground: 210, 20%, 98%;
      --primary-light: 201,100%,43%;

      --secondary: 177, 18%, 63%;
      --secondary-foreground: 220.9, 39.3%, 11%;
      --secondary-light: 177, 18%, 72%;

      --muted: 177, 18%, 63%;
      --muted-foreground: 220, 8.9%, 46.1%;

      --accent: 177, 18%, 63%;
      --accent-foreground: 220.9, 39.3%, 11%;

      --destructive: 0, 84.2%, 60.2%;
      --destructive-foreground: 210, 20%, 98%;

      --border: 220, 13%, 91%;
      --input: 220, 13%, 86%;
      --ring: 224, 71.4%, 4.1%;

      --link: 214, 28%, 36%;
      
      --radius: 0.5rem;
    }

    .dark {
      --background: 220, 9%, 15%;
      --foreground: 198, 14%, 74%;
    
      --card: 220, 9%, 15%;
      --card-foreground: 198, 14%, 74%;
    
      --popover: 220, 9%, 15%;
      --popover-foreground: 198, 14%, 74%;
    
      --primary: 198, 14%, 74%;
      --primary-foreground: 220, 39.3%, 11%;
    
      --secondary: 176, 18%, 47%;
      --secondary-foreground: 198, 14%, 74%;
    
      --muted: 176, 18%, 47%;
      --muted-foreground: 217.9, 10.6%, 64.9%;
    
      --accent: 176, 18%, 47%;
      --accent-foreground: 198, 14%, 74%;
    
      --destructive: 0, 62.8%, 30.6%;
      --destructive-foreground: 198, 14%, 74%;
    
      --border: 176, 18%, 47%;
      --input: 176, 18%, 47%;
      --ring: 216, 12.2%, 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }